<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="./src/css/sty.css">
    <script src="./src/js/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>Document</title>
</head>
<body>
   
                
              
    <div id="app" >
        <p id="top" style="text-align: center;color: blue; height: 20px;margin-bottom: 20px">联通5G合伙人申请系统</p>
            <el-image
            style="width: 100%; height: 200px"
            src="src\jpg\2.jpg"
            fit="fill">
    </el-image>
            <div id='indexx'>
                <router-link active-class="butt" class="butt" to="/shenqing" >申请5G合伙人</router-link>
                <router-link class="butt" to="/user" >个人信息</router-link>
                
                
            </div>
                
    
        <router-view></router-view>
    </div>


    <script>
        const url = "http://localhost:3000"
        axios.defaults.withCredentials = true
        
       const shenqing = { template: ` 
        
        <div style="font-size: 10px;width:90%:margin-top:30px" >
                <el-form ref="form" :model="form" label-width="100px" v-if="!hide">
                        <el-form-item label="姓名" prop="name">
                        <el-input v-model="form.name">
                    </el-input>
                </el-form-item>
                    <el-form-item label="电话号码" prop="phone">
                        <el-input v-model="form.phone">
                    </el-input>
                </el-form-item>
  
            <el-form-item label="身份证号" prop="id">
                <el-input v-model="form.id">
                    </el-input>
                </el-form-item>
            <el-form-item label="推荐人手机号" prop="RpNumber">
                <el-input v-model="form.RpNumber">
                    </el-input>
            </el-form-item>
            <el-form-item label="选择套餐" prop="resource">
                 <el-radio-group v-model="form.resource">
                    <el-radio value="1" label="套餐一"></el-radio>
                    <el-radio value="2" label="套餐二"></el-radio>
                    <el-radio value="3" label="套餐三"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('form')">立即申请</el-button>
                <el-button @click="resetForm('form')">重置</el-button>
            </el-form-item>
  
  
</el-form>
<router-view></router-view>
            </div>
            ` ,data() {
                return {
                    form:{
                   id:"",
                   name:"",
                   RpNumber:"",
                   resource:"",
                   phone:""
               },
               hide:false
                }
            },
            prop:{hide:Boolean},
            rules: {
                name: [
                     { required: true, message: '请输入姓名', trigger: 'blur' },
                        { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
                    ],
                id: [
                     { required: true, message: '请输入身份证', trigger: 'blur' },
                        { min: 18, max: 18, message: '长度在 18数字', trigger: 'blur' }
                        ],
                    RpNumber: [
                     { required: true, message: '请输入姓名', trigger: 'blur' },
                        { min: 2, max: 5, message: '长度在 2 到 5 个数字', trigger: 'blur' }
                        ],
            },
            methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                     if (valid) {
                         axios.post(url+"/application/partner",{
                             id:this.form.id,
                             name:this.form.name,
                             RpNumber:this.form.RpNumber,
                             type:this.form.resource,
                             phone:this.form.phone
                         })
                         .then((res)=>{
                             console.log(res);
                         })
                         .catch((err)=>{
                             console.log(err);
                         })
                         this.hide=true
                         router.push("/shenqingf")
                         setTimeout(()=>{
                            router.push("/shenqing")
                             return this.hide=false
                             resetForm(formName)
                         },2000)
                        alert('submit!');
                 } else {
                    console.log('error submit!!');
                    return false;
                 }
            });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  };
    const user = { template: `
        <div class="infoclass" style=" top: 20px">
               <div v-if="logining">
                <router-link class="butt" to="/geren">个人信息</router-link>
               
               <router-link class="butt" to="/yeji">个人业绩</router-link>
               
               <router-link class="butt" to="/zonglan">业绩总览</router-link>
              
               <router-link class="butt" to="/tixian">提现</router-link>
               
                
                <router-view></router-view>
                    </div>
                <div v-else-if="!logining" style=" text-align; center;margin-top:30px">
                <el-form ref="form" :model="form" label-width="100px" >
                    <el-form-item label="电话号码" prop="phone">
                        <el-input v-model="form.phone">
                    </el-input>
                </el-form-item>
  
            <el-form-item label="身份证号" prop="id">
                <el-input v-model="form.id">
                    </el-input>
                </el-form-item>
          
           
            <el-form-item>
                <el-button type="primary" @click="submitForm('form')">查看</el-button>
                <el-button @click="resetForm('form')">重置</el-button>
            </el-form-item>
  
  
</el-form>
</div>
</div>
               
            
            ` ,methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                     if (valid) {
                         axios.post(url+"/individual/login",{
                             id:this.form.id,
                             phone:this.form.phone
                         })
                         .then((res)=>{
                            
                             console.log(res.data);
                         })
                         .catch((err)=>{
                             alert("请输入正确的电话与身份证号")
                             console.log(err);
                         })
                         
                        alert('submit!');
                 } else {
                    console.log('error submit!!');
                    return false;
                 }
            });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    },data() {
                return {
                    logining:false,
                    form:{
                        phone:"",
                        id:""
                    },
                    login:{
                        phone:"",
                        id:""
                    }
                }              
            }, 
            prop:{
                form:{
                        phone:"",
                        id:""
                    }
                }};
        const geren = { template:` 
           <div class="userclass">
                <h1>个人信息</h1> 
                <h2>姓名:{{user.name}}</h2>
                <h2>电话:{{user.phone}}</h2>
                <h2>套餐:{{user.resource}}</h2>
                <h2>银行卡:{{user.pank}}</h2>
                <el-row>
                    <el-button type="primary" @click="back">返回</el-button>
                </el-row>
            </div>
            `,
        data() {
            return {
                user:{
                    name:"李狗蛋",
                    phone:13333333333,
                    resource:"套餐一",
                    pank:123123212321321
                }
            }
        },
        methods: {
            back(){
                window.history.go(-1)
            }
        },
    };
        const yeji = { template:` 
           <div class="userclass">
                <h1>个人业绩</h1> 
                <h2>直推联系人:</h2>
                <el-row>
                    <el-button type="primary" size="mini" v-if="!hidezhitui" @click="nohide">点击隐藏
                        </el-button>
                </el-row>
                <strong v-for="(item,index) in yeji.zhitui" :key="index" style="display: block" v-if="!hidezhitui" >
                   <p>姓名:{{item.name}}</p>
                    <p>手机:{{item.phone}}</p>
                    <p>套餐:{{item.taocan}}</p>
                    <p>注册时间:{{item.zhuceshijian}}</p>

                    <br>
                </strong>
                <el-row>
                    <el-button type="primary" size="mini" v-if="hidezhitui" @click="nohide">点击展开
                        </el-button>
                </el-row>
                <h2>二级联系人:</h2>
                <el-row>
                    <el-button type="primary" size="mini" v-if="!hideerji" @click="nohide1">点击隐藏
                        </el-button>
                </el-row>
                <strong v-for="(item,index1) in yeji.erji" :key="index1" style="display: block" v-if="!hideerji" >
                   <p>姓名:{{item.name}}</p>
                    <p>手机:{{item.phone}}</p>
                    <p>套餐:{{item.taocan}}</p>
                    <p>注册时间:{{item.zhuceshijian}}</p>

                    <br>
                </strong>
                <el-row>
                    <el-button type="primary" size="mini" v-if="hideerji" @click="nohide1">点击展开
                        </el-button>
                </el-row>
                <br>
                <el-row>
                    <el-button type="primary" @click="back">返回</el-button>
                </el-row>
            </div>
            `,
        data() {
            return {
                hidezhitui:true,
                hideerji:true,
                yeji:{
                    zhitui:[
                        {name:"haha",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                       
                ],
                    erji:[
                        {name:"haha213",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha123",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha123",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha123",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                        {name:"haha123",phone:12421421,taocan:"套餐一",zhuceshijian:1111.11},
                       
                ],
                    phone:13333333333,
                    resource:"套餐一",
                    pank:123123212321321
                }
            }
        },
        methods: {
            back(){
                window.history.go(-1)
            },
            nohide(){
                this.hidezhitui=!this.hidezhitui
            },
            nohide1(){
                this.hideerji=!this.hideerji
            }
        },
    };
    const zonglan = { template:` 
           <div class="userclass">
                <h1>业绩总览</h1> 
                <h2>推广总利润:</h2>
                <h2>直推利润:{{zonglan.zhitui}}</h2>
                <h2>二级利润:{{zonglan.erji}}</h2>
                <h2>开卡奖励:</h2>
                <h2 v-for="(item,index) in zonglan.kaika" :key="index">
                        <h3>{{item}}</h3>
                    </h2>
                   
                <el-row>
                    <el-button type="primary" @click="back">返回</el-button>
                </el-row>
            </div>
            `,
        data() {
            return {
                zonglan:{
                    zhitui:5555,
                    erji:555555,
                    kaika:["996","997"],
                    
                }
            }
        },
        methods: {
            back(){
                window.history.go(-1)
            }
        },
    };
    const tixian = { template:` 
           <div class="munclass">
                <h1>提现</h1> 
                <h2>余额类型:</h2>
                <h2>可提现余额:{{mun.tixian}}</h2>
                <h2>兑换礼品余额:{{mun.lipin}}</h2>
                <h2>兑换礼品:{{mun.duihuan}}</h2>
                <el-row>
                    <el-button type="primary" @click="back">余额提现</el-button>
                    <el-button type="primary" @click="back">礼品兑换</el-button>
                    <el-button type="primary" @click="back">返回</el-button>
                </el-row>
            </div>
            `,
        data() {
            return {
                mun:{
                    tixian:999,
                    lipin:999,
                    duihuan:"链接",
                }
            }
        },
        methods: {
            back(){
                window.history.go(-1)
            }
        },
    };
        const shenqingf = {template:`
            <div>
                
                <h1 style="text-align: center;top:20px">{{message}}</h1>

                
                </div>   
                `,
             data() {
                 return {
                     code:"",
                     message:"申请成功！如要加速申请请联系微信：1444444444"
                 }
             },  
             computed: {
                 if (res) {
                     res.data.message=this.message
                     res.data.code = this.code
                 }
             }
            }
        
        const routes = [
                { path: '/shenqing', component: shenqing,children:[ {path:'/shenqingf',component:shenqingf}] },
                { path: '/user', component: user,
                children:[
                    { path: '/geren', component: geren},
                    { path: '/yeji', component: yeji},
                    { path: '/zonglan', component: zonglan},
                    { path: '/tixian', component: tixian},
                   

                    ] },
                
               
                        ]
        const router = new VueRouter({
                routes // (缩写) 相当于 routes: routes
                })
        var app = new Vue({
            el:"#app",
            data() {
                return {
                    haha:2131,
                    menu:["点击申请","个人业绩"],
                    usermenu:["业绩总览","个人资料","提现"],
                    form:{
                        id:"",
                        name:"",
                        RpNumber:""
                    }
                }
            },
            
            router
        }).$mount('#app')
        
        </script>
</body>
</html>